/* PC、スマホ共通スタイル */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    max-width: 1080px;
    margin: 0 auto 0 auto;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
    font-size: 15px;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
}

#nav-pc {
    margin-top: 15px;
    font-size: 14px;
    text-align: right;
}

#nav-pc  ul {
    display: flex;
    padding-left: 0;
}

#nav-pc li {
    margin-left: 20px;
    list-style: none;
}

#nav-pc a {
    text-decoration: none;
    color: #04414A;
}

#nav-pc a:hover {
    text-decoration: underline;
}

/* メインビジュアル */
#main-visual {
    position: relative;
    height: 400px;
}

#main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04414A;
    height: 100%;
    width: 100%;
    max-width: 620px;
    border-radius: 0 0 150px 0;
    z-index: 11;
}

#main-visual img {
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

#main-message > h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    margin: 100px 0 0 50px;
}

#main-message > p {
    font-size: 28px;
    color: #fff;
    margin: 0 0 0 50px;
}

/* 見出し */
h2 {
    margin: 40px 0 0 0;
}

h2::after {
    content: url(images/line.png);
    margin-left: 10px;
}

h3 {
    font-size: 27px;
}

/* コンセプト */
#concept {
    margin: 80px auto 0 auto;
    padding: 10px 40px 0 40px;
}

#concept-flex {
    display: flex;
}

#concept-flex > div {
    width: 50%;
    text-align: center;
    margin: 20px;
}

.concept-photo {
    width: 80%;
}

/* プロダクト */
#product {
    background-color: #fafafa;
    padding: 10PX 40px 0 40px;
    margin: 20px 0 80px 0;
}

#product > div {
    display: flex;
    margin-top: 40px;
}

#product-left {
    margin: 0 20px 0 0;
    width: 50%;
}

#product-right {
    margin: 80px 0 0 20px;
    width: 50%;
}

.product-photo {
    width: 100%;
}

#product-left > div {
    position: relative;
    height: 480px;
    margin-right: 20px;
}

#product-right > div {
    position: relative;
    height: 480px;
    margin-left: 20px;
}

.product-explain {
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 50px;
    margin: 0 40px 0 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.product-explain > span {
    color: #04414A;
    font-weight: bold;
}

.product-explain > h3 {
    margin: 5px 0 5px 0;
}

.product-explain > p {
    margin: 0;
}

/* 会社概要 */
#company {
    margin: 80px auto 80px auto;
    padding: 10px 40px 0 40px;
}

#company-table {
    width: 100%;
}

.tableheader {
    padding: 20px;
    text-align: left;
    width: 100px;
    border-bottom-color: #04414A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tableheader-first {
    border-top-color: #04414A;
    border-top-width: 1px;
    border-top-style: solid;
}

.cell {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cell-first {
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
}

/* フッター */
footer {
    background-color: #04414A;
    text-align: center;
    padding: 80px 80px 30px 80px;
}

#footer-logo {
    margin-bottom: 30px;
}

#footer-link {
    margin-bottom: 50px;
}

#footer-link > a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

#footer-link > a:hover {
    text-decoration: underline;
}

#sns-footer {
    text-align: left;
    width: 100%;
}

#sns-footer > a {
    margin-right: 30px;
}

#copyright {
    float: right;
    color: #fff;
    margin: 15px 0 15px 0;
}

/*================
　スマホ用レイアウト
  ================ */
@media screen and (max-width: 767px) {
    /* メインビジュアル */
    #main-visual {
        position: relative;
        height: 400px;
        overflow: hidden;
        width: 100%;
        height: 470px;
    }

    #main-message {
        border-radius: 0 0 476px 0; 
        height: 280px;
        position: absolute;
        top: 0;
        left: 0;
    }

    #main-visual img {
        width: 100%;
        border-radius: 476px 0 0 0;
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
    }

    #main-message > h1 {
        font-size: 28px;
        margin: 70px 0 0 20px;
    }

    #main-message > p {
        font-size: 22px;
        margin: 0 0 0 20px;
    }

    /* 見出し */
    h3 {
        font-size: 24px;
        margin: 10px 0 0 0;
    }

    /* コンセプト */
    #concept {
        margin-top: 20px;
        padding: 0 20px 0 20px;
    }
    #concept-flex {
        flex-direction: column;
    }

    #concept-flex > div {
        width: 100%;
        margin: 0;
    }

    .concept-photo {
        width: 100%;
    }

    /* プロダクト */
    #product {
        margin: 0;
        padding: 10px 0 0 0;
    }

    #product h2 {
        margin-left: 20px;
    }

    #product > div {
        flex-direction: column;
        margin-top: 0;
    }

    #product-left, 
    #product-right {
        width: 100%;
        margin: 0;
        padding: 0 20px 0 20px;
    }

    #product-left > div, 
    #product-right > div {
        margin: 0;
    }

    .product-photo {
        width: 100%;
    }

    /* 会社概要 */
    #company {
        padding: 0 20px 0 20px;
    }

    .tableheader {
        width: 50px;
    }

    #company >h2 {
        margin: 20px 0 20px 0;
    }

    /* フッター */
    footer {
        padding: 30px 20px 40px 20px;
    }

    #footer-link > a {
        display: block;
        margin: 0 0 30px 0;
    }

    #copyright {
        font-size: 12px;
        margin-top: 30px;
    }
}